---
layout: default
---
<!-- page.html -->
        <div class="post">



<header class="post-header">
<table align="left | right" cellspacing="0" cellpadding="0" >
  <tr>
    <th style="width:80%">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </th>
    <th style="width:20%">
    {%- if page.img %}
        {%- include figure.html
          path=page.img
		  width="100%"
          alt="page thumbnail" -%}
        {%- endif %}

</th>
  </tr>
         </table> 
</header>
      


          <article>
            {{ content }}
          </article>

        </div>
